img{
    height: 100px;
}

a{
    font-family: "Lucida Console", "Courier New", monospace;
}
body{
    background-color: #053f7d;
}
h3{
    font-family: "Lucida Console", "Courier New", monospace;
    color: yellow;
    background-color: #053f7d;
}
input{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #06b81d;
    background-color: #053f7d;
    border-radius: 12px;
    border: 2px solid green;
}

.intro {
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
  color: lightblue;
}

.bubbleSpace{
  border-radius: 12px;
  height: 40em;
  width: 35em;
  margin: 10px 10px 10px 70px;
}

.landingPageText{
  font-family: "Lucida Console", "Courier New", monospace;
  color: pink;
}

.bioHeader{
  font-family: "Lucida Console", "Courier New", monospace;
  color: lightgray;
}

.bioListText{
  font-family: "Lucida Console", "Courier New", monospace;
  color: lightgray;
  text-align: center;
}


@keyframes button-animation{
  from{
    filter: invert(0%);
  }
  to{
    filter: invert(80%);
  }
}
